eyex-web-games/node_modules
DemoWpf/DemoWpf/bin/
DemoWpf/EyeXFramework/bin/
DemoWpf/EyeXFramework/obj/
DemoWpf/DemoWpf/obj/x86/Debug/UserPresenceWpf.Properties.Resources.resources
DemoWpf/DemoWpf/obj/
